.* {box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    line-height: 1.5;
}

button, input {
    font: inherit;
    padding: 0.7rem 1rem;
    margin: 0.25rem;
}